{% extends 'base.html' %}

{% block content %}
    <div class="signup-container">
        <h3>Sign up</h3>
        <div class="card" style="width: 335px">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.help_text }}


                    {{ field }}

                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}


                {% endfor %}
                <button type="submit" class="btn btn-primary btn-sm">Sign up</button>
            </form>
        </div>
    </div>
{% endblock %}