<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Simple Blog Application{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">


    <style>
        body {
            background-color: white;
        }

        .top {
            margin-bottom: 20px;
        }

        .signup-container {
            width: 1000px;
            margin: 0px auto;
        }

        #header .navbar {
            animation: none !important;
        }


    </style>

</head>

<header>
    {% block header %}
        <section class="top">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
                <a class="navbar-brand" href="{% url 'blog:post_list' %}">Simple Blog Application</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navb" aria-expanded="true">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navb" class="navbar-collapse collapse hide">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated and user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:post_list' %}">Blog Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:post_create' %}">Create Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts:user_list' %}">User List</a>
                            </li>

                        {% elif user.is_authenticated %}

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:post_list' %}">Blog Post</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:post_create' %}">Create Post</a>
                            </li>
                        {% else %}

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:post_list' %}">Blog Post</a>
                            </li>

                        {% endif %}


                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        {% if user.is_authenticated %}

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts:logout' %}"><span
                                        class="fas fa-sign-in-alt"></span> Logout</a>
                            </li>
                        {% else %}

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts:login' %}"><span
                                        class="fas fa-sign-in-alt"></span> Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts:signup' %}"><span
                                        class="fas fa-sign-in-alt"></span> Signup</a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </nav>
        </section>

    {% endblock %}

</header>


<body>

<main>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

</main>


</body>
</html>