{% extends 'base.html' %}


{% block title %}
    User List
{% endblock %}

{% block content %}
    {% include "success_message.html" %}
    <h3>User List</h3>

    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>

                <th scope="row">1</th>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date_joined }}</td>
                <td><a href="{% url 'accounts:delete_user' user.id %}"  class="btn btn-danger btn-sm">Delete</a></td>
            </tr>

        {% endfor %}

        </tbody>
    </table>



{% endblock %}